body {
    background-image: url("http://i.imgur.com/KqGcfri.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 10px;
}

.row {
    margin: 10px;
}

#title {
    background-color: lightgray;
    font-weight: bold;
    font-size: 10px;
    color: blue;
}

#rules {
   background-color: lightgray;
   color: blue;
}

#randomNumber {
    background-color: skyblue;
    color: white;
    margin-right: 10px;
}

#tally {
    background-color: skyblue;
    color: white;
}

img {
    margin: 10px;
}

#scoreTitle {
    background-color: plum;
    color: white;
}

#score {
    background-color: plum;
    color: white;
}

#userTotal {
    background-color: plum;
    color: white;
}